@font-face {
	font-family: Quicksand;
	src: url("6xKodSZaM9iE8KbpRA_pgHYoSA.ttf");
}

body {
	font-family: Quicksand;
	text-align: center;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 21px;

}
header {
	background: -webkit-linear-gradient(-119deg, rgb(66, 104, 137), rgb(20, 55, 90));
	color: #ffffff;
	width: 100%;
	padding: 10px;
	text-align: center;
}
.bien {
	font-weight: bold;

}
ul {
	text-align: center;
	padding: 50px;
	padding-left: 140px;
}
li {
	list-style: square;
	padding-left: 10px;
	padding-bottom: 20px;
	text-align: left;
}
h1 {
	font-size: 50px;
	text-align: center;
}
h2 {
	color: #0379B7;
	font-size: 40px;
	margin-top: 60px;
	text-align: center;
}
h3 {
	text-align: center;
	font-style: italic;
	font-size: 15px;
}
.intro {
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
	line-height: 200%;
	




}
blockquote {
	border-left: solid #0379B7 3px;
	margin: 0px;
	padding: 10px;
	overflow: hidden;
	font-style: italic;
	
	
}

q {
	border-left: solid #E6951F 3px;
	padding: 10px;
	font-style: italic;

	

}
.paragraphe {
	padding: 0px;
}
.images {
	text-align: center;
}
img {
	
	width: 80%;
	height: 80%;
}
footer {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 70%
}
.auteur {
	text-align: center;
}
.tab {
	border: solid;
	text-align: center;
	padding: 10px;
	margin-left: 37%;
}
.col1 {
	border-right: solid;
	padding: 10px;
	margin-bottom: 10px,
	font-size: 25px;
}
.col2 {

	padding: 10px;
	margin-bottom: 10px,
	font-size: 25px;
}
.story {
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
	line-height: 200%;


 
}
#conclusion {
	font-size: 20px;
	line-height: 200%;
}
.bigletter {
	font-size: 60px;
	margin-right: 5px;
}
/*
#5D6476
*/