@font-face {
	font-family: Quicksand;
	src: url("6xKodSZaM9iE8KbpRA_pgHYoSA.ttf");
}

body {
	font-family: Quicksand;
	text-align: center;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 20px;
	
	position: relative;
	z-index: 100;








}
header {
	/*background: -webkit-linear-gradient(-119deg, rgb(66, 104, 137), rgb(20, 55, 90));*/
	color: black;
	width: 60%;
	margin-left: 20%;
	padding: 20px;
	text-align: center;
	margin-bottom:40px;
	background-image: url("yingyang.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	
	background-size: cover;
}
.bien {
	font-weight: bold;

}
ul {
	text-align: center;
	padding: 50px;
	padding-left: 140px;
}
li {
	list-style: square;
	color: #9d1303;
	padding-left: 10px;
	padding-bottom: 15px;
	text-align: left;
}
li span {
color: black;
}
h1 {
	font-size: 50px;
	text-align: center;
	color: black;
}
h2 {
	/*color: #eb8a25;*/
	color: black;
	font-size: 40px;
	margin-top: 60px;
	text-align: center;
}
h3 {
	text-align: center;
	font-style: italic;
	font-size: 20px;
}
.intro {
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
	line-height: 160%;
}
.legendes {
padding-top: 10px;
font-style: italic;
text-align: center;
font-size: 15px;

}

.citations {
	
	margin: 0px;
	padding: 10px;
	overflow: hidden;
	font-style: italic;
}

.citations.villageois {
border-left: solid #9d1303 3px;
}

.citations.fermier {
border-left: solid #ffc04c 3px;
}

	

}
.paragraphe {
	padding: 0px;
}
.images {
	text-align: center;
}
img {
	
	width: 80%;
	height: 80%;
}
footer {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 70%;
	font-family: arial;
}
.auteur {
	text-align: center;
}
.tab {

	text-align: center;
	padding: 10px;
	margin-left: 35%;
	
}
.col1 {
	border: 5px solid;
	padding: 10px;
	margin-bottom: 10px;
    margin-right: 5px;
	font-size: 25px;
	background-color: #9d1303;
	color: #ffffff;
}
.col2 {
	border: 5px solid;
	padding: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	font-size: 25px;
	background-color: #ffc04c;
	color: #ffffff;
}


.cell.left {
margin-right: 10px;
border: 1px solid #9d1303;
padding: 5px;
}
.cell.right {

margin-left: 10px;
border: 1px solid #ffc04c;
padding: 5px;
}
.story {
	text-align: left;
	margin-left: 15%;
	margin-right: 15%;
	line-height: 160%;


 
}
#conclusion {
	font-size: 20px;
	line-height: 200%;
}
.bigletter {
	font-size: 60px;
	margin-right: 5px;
	color: #9d1303;
}
.sectiontab {
	text-align: center;
}
footer a .title {
	background-color: black;
	color: #ffffff;
}
.info {
	position: relative;
	color: black;
	text-decoration: none;
	border-bottom: 1px #9d1303 dotted;
}
.info span{
display: none;

}
.info:hover span {
	display: inline;
	position: absolute;
	background-color: white;
    color: #9d1303;
    border: 1px solid;
    bottom: 20px;
    left: 50px;
}
/*
#5D6476
*/